/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        layer_taps: layer_taps {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_TAPS";
            #binding-cells = <0>;
            bindings = <&to 1>, <&to 2>, <&to 3>, <&to 4>, <&to 0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E        &kp R         &kp T            &kp Y      &kp U        &kp I      &kp O    &kp P          &kp HOME
&kp ESCAPE      &kp A  &kp S  &kp D        &kp F         &kp G            &kp H      &kp J        &kp K      &kp L    &kp SEMICOLON  &kp SQT
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C        &kp V         &kp B            &kp N      &kp M        &kp COMMA  &kp DOT  &kp FSLH       &kp RSHIFT
                              &layer_taps  &lt 3 DELETE  &kp BACKSPACE    &kp SPACE  &lt 1 SPACE  &kp ENTER
            >;
        };

        Numbers {
            bindings = <
&trans                &trans    &trans    &trans          &trans           &trans                   &kp KP_NUMLOCK  &kp N7   &kp N8     &kp N9  &kp FSLH   &kp KP_ASTERISK
&kp LEFT_PARENTHESIS  &kp LBKT  &kp RBKT  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp RIGHT_PARENTHESIS    &none           &kp N4   &kp N5     &kp N6  &kp MINUS  &kp EQUAL
&trans                &trans    &trans    &trans          &trans           &trans                   &kp K           &kp N1   &kp N2     &kp N3  &kp RET    &kp ENTER
                                          &trans          &trans           &trans                   &kp N0          &kp DOT  &kp SPACE
            >;
        };

        Symbols {
            bindings = <
&kp EQUAL  &kp EXCL   &kp AT  &kp POUND  &kp DLLR  &kp PRCNT     &kp CARET  &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR  &kp MINUS
&kp EQUAL  &kp GRAVE  &none   &none      &none     &none         &kp LPAR   &kp LBRC  &kp RBRC  &kp LBKT  &kp RBKT  &kp RPAR
&trans     &trans     &trans  &trans     &trans    &none         &kp S      &trans    &trans    &trans    &trans    &trans
                              &trans     &trans    &kp DELETE    &trans     &trans    &trans
            >;
        };

        Arrows {
            bindings = <
&trans  &trans     &trans     &trans     &trans     &trans    &none   &trans    &kp UP    &trans     &trans  &trans
&trans  &kp LC(A)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &trans    &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &kp LC(Z)  &trans     &trans     &trans     &trans    &kp A   &trans    &trans    &trans     &trans  &trans
                              &trans     &trans     &trans    &trans  &trans    &trans
            >;
        };

        Bluetooth {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&bt BT_CLR_ALL  &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4    &none   &none   &none   &none   &none   &none
&bt BT_CLR      &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4     &none   &none   &none   &none   &trans  &trans
&none           &bt BT_PRV     &bt BT_NXT     &trans         &trans         &trans           &kp B   &trans  &trans  &trans  &trans  &trans
                                              &trans         &trans         &trans           &trans  &trans  &trans
            >;
        };
    };
};
